/* Whole Page */

:root {
    /* dimensions */
    --header-height: 3rem;
    --footer-height: 2rem;
    --main-height: calc(100vh - var(--header-height) - var(--footer-height));

    /* colors */
    --light-color: #c4c8c0;
    --dark-color: #202820;
    --light-link-color: #ddccbb;
    --dark-link-color: #226644;

    /* preference-dependent colors */
    --pixel-color: var(--dark-color);
    --back-color: var(--light-color);
    --link-color: var(--dark-link-color);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body {
    color: var(--pixel-color);
    background-color: var(--back-color);
    text-align: center;
}

a {
    color: var(--link-color);
}

/* Header */

header {
    /* sizing */
    position: fixed;
    width: 100%;
    top: 0;
    height: var(--header-height);

    /* content arrangement */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vw;
}

header fieldset {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

header #reset-options > input {
    height: 2rem;
}

header #reset-options input {
    width: 3.5rem;
    font-size: 1.2rem;
}

header #reset-options button {
    padding: 3px;
}

/* Main Area and Grid */

main {
    margin-top: var(--header-height);
    height: var(--main-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pixel-container {
    /* sizing */
    width: 90vw;
    max-width: var(--main-height);

    /* content arrangement */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 1px solid var(--pixel-color);
}

#pixel-container p {
    width: 100%;
}

.pixel {
    background-color: var(--pixel-color);
    opacity: 0.0;
    aspect-ratio: 1 / 1;
    min-width: 1px;
}

.pixel.on {
    opacity: 1.0;
}

/* Footer */

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    padding: 0.5rem;
}